body {
    background-color:darkslategray;
    max-width: 100%;
    margin: 0;
}

ol, ul {
    list-style: none;
}

a {
    color: black;
    font-size: 19px;
    
}

p {
    color: black
}


#mainBar li {
    display:inline-block;
    width: 100px;
    margin-left: 3px;
    position: relative;
    top: 3em;
    left: 45em;
   
}

#imgtyler {
    height: auto;
    height: 50%;
    position: relative;
    left: 4em;
    top: 3em;
    size: 1px;
}

#imgstatic {
    position: relative;
    padding-top: 3em;
}

#imgcreature{

    position: relative;
    padding-top: 2.5em;
    

}
    
#name {
    position: relative;
    top: 10em;
    left: 10em;    
}

#myName {
    color: black;
    font-size: 4em;
}
#myJob {
    color: black;
    font-size: 1.1em;
}


#aboutme {
    position: relative;
    padding-bottom: -4em;
    
    
}

#aboutme h2 {
    color: black;
}

#projects {
position: relative;
padding-top: em;
}
#projects h2 {
    color: black;
    position: relative;
    
    bottom: 0em;
}


#contactme {
    display: block;
    color: black;
    position: relative;
    
    
}

#contactme h2 {
    color: black;
    position: relative;
    top: -2em;
    right: -0.9em;
    
}

#contactmebutton {
    background-color: black;
    color: white;
}


.separator{
    background-color: darkslategray;
    padding-bottom: 33em;
    padding-right: 33em;

}

::placeholder {
    color: black;
}

.containercontact {
   display: inline-block;
   padding-bottom: 35em;
}
  
